table{
    border-collapse: collapse;
    width: 100%;
    text-align: center
}
table,th,td{
    border: 1px solid black;
}
.style1:nth-child(even) {
    background-color: #dddddd;
}
.pointer{
    cursor: pointer;
}
.style1:nth-child(odd) {
    background-color: darkgray;
}
input {
    margin-bottom: 1em;
}